[Unit]
Description=Evaluate sensors for active bats and trigger recordings
After=network.target raspimjpeg.service raspiwebcam.service

[Service]
ExecStart=python3 -m batrack /boot/BatRack.conf
Restart=always
RestartSec=5
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
